html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" href="style.css")
    title
      | Static PT
    
    style
      include style.css
      
  body
    header
      h1(class="text-3xl font-bold")
        | Static PT

    block content