@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 3rem 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: mediumaquamarine;
}

header {
  width: 100%;
}
